<!DOCTYPE html>
<html>
    <head>
        <title>Hand Tracking</title>
        <style>
            body {
                margin: 0;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: black;
            }
            #container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
            #overlay {
                position: absolute;
                pointer-events: none;
            }
            #controls {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 10;
                display: flex;
                flex-direction: column;
            }
            .control-group {
                margin-bottom: 10px;
            }
            .cursor {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: yellow;
                pointer-events: none;
                z-index: 10;
            }
            .button-column {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            #left-buttons {
                left: 10px;
            }
            #right-buttons {
                right: 10px;
            }
            .button {
                padding: 10px 20px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            #draggable {
                position: absolute;
                width: 100px;
                height: 100px;
                background-color: #ff00ff;
                cursor: grab;
                z-index: 20;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <video id="videoFeed" autoplay playsinline></video>
            <canvas id="overlay"></canvas>
            <div id="controls">
                <div class="control-group">
                    <input
                        type="text"
                        id="leftHandName"
                        placeholder="Left Hand Symbol Name"
                    />
                    <button onclick="saveHandSymbol('Left')">
                        Save Left Hand Symbol
                    </button>
                </div>
                <div class="control-group">
                    <input
                        type="text"
                        id="rightHandName"
                        placeholder="Right Hand Symbol Name"
                    />
                    <button onclick="saveHandSymbol('Right')">
                        Save Right Hand Symbol
                    </button>
                </div>
            </div>
            <div id="leftCursor" class="cursor"></div>
            <div id="rightCursor" class="cursor"></div>
            <div id="left-buttons" class="button-column">
                <button class="button">Button 1</button>
                <button class="button">Button 2</button>
                <button class="button">Button 3</button>
            </div>
            <div id="right-buttons" class="button-column">
                <button class="button">Button 4</button>
                <button class="button">Button 5</button>
                <button class="button">Button 6</button>
            </div>
            <div id="draggable"></div>
        </div>

        <script>
            const video = document.getElementById("videoFeed");
            const canvas = document.getElementById("overlay");
            const ctx = canvas.getContext("2d");
            const ws = new WebSocket("ws://localhost:6969/ws");

            const leftCursor = document.getElementById("leftCursor");
            const rightCursor = document.getElementById("rightCursor");
            const draggable = document.getElementById("draggable");

            // Colors for different hands
            const handColors = {
                Left: "#FF0000", // Red
                Right: "#00FF00", // Green
            };

            const smoothingFactor = 0.5; // Adjust this value to control smoothing
            let previousPointerAngle = null; // Initialize previous angle variable
            let previousHandAngle = null; // Initialize previous angle variable
            let currentHandsData = []; // Store current hands data
            let drawnPoints = { Left: [], Right: [] }; // Store drawn points for each hand
            let isDrawing = { Left: false, Right: false }; // Track drawing state for each hand

            function resizeCanvas() {
                const aspectRatio = 1920 / 1080;
                const windowAspectRatio =
                    window.innerWidth / window.innerHeight;

                if (windowAspectRatio > aspectRatio) {
                    canvas.width = window.innerHeight * aspectRatio;
                    canvas.height = window.innerHeight;
                } else {
                    canvas.width = window.innerWidth;
                    canvas.height = window.innerWidth / aspectRatio;
                }

                canvas.style.width = canvas.width + "px";
                canvas.style.height = canvas.height + "px";
            }

            function drawHand(hand, imgWidth, imgHeight) {
                // Scale coordinates to video feed size
                const scaleX = canvas.width / imgWidth;
                const scaleY = canvas.height / imgHeight;

                // Draw connections
                ctx.strokeStyle = handColors[hand.handedness];
                ctx.lineWidth = 2;
                hand.connections.forEach(([start, end]) => {
                    const startX = hand.landmarks[start][0] * scaleX;
                    const startY = hand.landmarks[start][1] * scaleY;
                    const endX = hand.landmarks[end][0] * scaleX;
                    const endY = hand.landmarks[end][1] * scaleY;

                    ctx.beginPath();
                    ctx.moveTo(startX, startY);
                    ctx.lineTo(endX, endY);
                    ctx.stroke();
                });

                // Draw landmarks
                ctx.fillStyle = handColors[hand.handedness];
                hand.landmarks.forEach((lm) => {
                    ctx.beginPath();
                    ctx.arc(lm[0] * scaleX, lm[1] * scaleY, 3, 0, 2 * Math.PI);
                    ctx.fill();
                });

                // Draw distance and angle between middle finger, index finger, and thumb
                const middleFinger = hand.landmarks[12];
                const indexFinger = hand.landmarks[8];
                const thumb = hand.landmarks[4];
                const distanceIndexThumb = Math.sqrt(
                    Math.pow((indexFinger[0] - thumb[0]) * scaleX, 2) +
                        Math.pow((indexFinger[1] - thumb[1]) * scaleY, 2)
                );
                const distanceMiddleThumb = Math.sqrt(
                    Math.pow((middleFinger[0] - thumb[0]) * scaleX, 2) +
                        Math.pow((middleFinger[1] - thumb[1]) * scaleY, 2)
                );

                const currentPointerAngle =
                    Math.atan2(
                        (indexFinger[1] - thumb[1]) * scaleY,
                        (indexFinger[0] - thumb[0]) * scaleX
                    ) *
                    (180 / Math.PI);

                // Smooth the angle using exponential moving average
                const pointerAngle =
                    previousPointerAngle === null
                        ? currentPointerAngle
                        : previousPointerAngle * (1 - smoothingFactor) +
                          currentPointerAngle * smoothingFactor;

                // Update the previous angle
                previousPointerAngle = pointerAngle;

                ctx.strokeStyle = "#0000FF"; // Blue for line
                ctx.lineWidth = 1;
                ctx.beginPath();
                ctx.moveTo(indexFinger[0] * scaleX, indexFinger[1] * scaleY);
                ctx.lineTo(thumb[0] * scaleX, thumb[1] * scaleY);
                ctx.stroke();

                ctx.fillStyle = "#0000FF"; // Blue for text
                ctx.font = "16px Arial";
                ctx.fillText(
                    distanceIndexThumb.toFixed(2) +
                        "px, " +
                        -pointerAngle.toFixed(2) +
                        "°",
                    (indexFinger[0] * scaleX + thumb[0] * scaleX) / 2,
                    (indexFinger[1] * scaleY + thumb[1] * scaleY) / 2
                );

                const cursorX = ((indexFinger[0] + thumb[0]) / 2) * scaleX;
                const cursorY = ((indexFinger[1] + thumb[1]) / 2) * scaleY;

                const xOffset = canvas.getBoundingClientRect().left;
                const yOffset = canvas.getBoundingClientRect().top;

                // Move the cursor element
                if (hand.handedness === "Left") {
                    leftCursor.style.left = `${cursorX - 10 + xOffset}px`;
                    leftCursor.style.top = `${cursorY - 10 + yOffset}px`;
                } else {
                    rightCursor.style.left = `${cursorX - 10 + xOffset}px`;
                    rightCursor.style.top = `${cursorY - 10 + yOffset}px`;
                }

                // Find the leftmost, rightmost, topmost, and bottommost points
                let leftmost = hand.landmarks[0][0];
                let rightmost = hand.landmarks[0][0];
                let topmost = hand.landmarks[0][1];
                let bottommost = hand.landmarks[0][1];

                hand.landmarks.forEach((lm) => {
                    if (lm[0] < leftmost) leftmost = lm[0];
                    if (lm[0] > rightmost) rightmost = lm[0];
                    if (lm[1] < topmost) topmost = lm[1];
                    if (lm[1] > bottommost) bottommost = lm[1];
                });

                // Calculate the average distance between these points
                const avgDistance =
                    (rightmost - leftmost + bottommost - topmost) / 2;

                // Set a dynamic threshold distance for detecting a "touch" gesture
                const touchThreshold = avgDistance / 3;

                console.log(
                    distanceIndexThumb.toFixed(2),
                    touchThreshold.toFixed(2)
                );

                // Print "<Hand> - hold" if both distances are less than the threshold
                if (distanceIndexThumb < touchThreshold) {
                    ctx.fillText(
                        `${hand.handedness} - hold`,
                        (indexFinger[0] * scaleX + thumb[0] * scaleX) / 2,
                        (indexFinger[1] * scaleY + thumb[1] * scaleY) / 2 + 20
                    );
                    // console.log(`${hand.handedness} - hold`);

                    // Draw on the canvas
                    if (!isDrawing[hand.handedness]) {
                        drawnPoints[hand.handedness].push([]);
                        isDrawing[hand.handedness] = true;
                    }
                    drawnPoints[hand.handedness][
                        drawnPoints[hand.handedness].length - 1
                    ].push({ x: cursorX, y: cursorY });
                } else {
                    isDrawing[hand.handedness] = false;
                }

                // Draw cursor (midpoint between index finger and thumb)
                const cursorXMid = ((indexFinger[0] + thumb[0]) / 2) * scaleX;
                const cursorYMid = ((indexFinger[1] + thumb[1]) / 2) * scaleY;
                ctx.fillStyle = "#FFFF00"; // Yellow for cursor
                ctx.beginPath();
                ctx.arc(cursorXMid, cursorYMid, 5, 0, 2 * Math.PI);
                ctx.fill();

                // Calculate and draw the angle of the entire hand
                const wrist = hand.landmarks[0];
                const middleFingerMCP = hand.landmarks[9];
                const ringFingerMCP = hand.landmarks[13];

                // Calculate the midpoint of the two MCPs
                const midpointMCP = [
                    (middleFingerMCP[0] + ringFingerMCP[0]) / 2,
                    (middleFingerMCP[1] + ringFingerMCP[1]) / 2,
                ];

                ctx.strokeStyle = "#00FFFF"; // Cyan for line
                ctx.lineWidth = 1;
                ctx.beginPath();
                ctx.moveTo(midpointMCP[0] * scaleX, midpointMCP[1] * scaleY);
                ctx.lineTo(wrist[0] * scaleX, wrist[1] * scaleY);
                ctx.stroke();

                // Calculate the angle between the wrist and the midpoint of the MCPs
                const currentHandAngle = Math.atan2(
                    (midpointMCP[1] - wrist[1]) * scaleY,
                    (midpointMCP[0] - wrist[0]) * scaleX
                );

                // Smooth the angle using exponential moving average
                const handAngle =
                    previousHandAngle === null
                        ? currentHandAngle
                        : previousHandAngle * (1 - smoothingFactor) +
                          currentHandAngle * smoothingFactor;

                // Update the previous angle
                previousHandAngle = handAngle;

                ctx.fillStyle = "#FFFFFF"; // White for hand angle text
                ctx.fillText(
                    "Hand angle: " +
                        (-handAngle * (180 / Math.PI)).toFixed(2) +
                        "°",
                    wrist[0] * scaleX,
                    wrist[1] * scaleY - 10
                );

                // Draw detected symbols if applicable
                if (hand.detected_symbols && hand.detected_symbols.length > 0) {
                    console.log(hand.detected_symbols);
                    hand.detected_symbols.forEach((symbol, index) => {
                        ctx.fillText(
                            `${symbol[0]} (${(symbol[1] * 100).toFixed(2)}%)`,
                            wrist[0] * scaleX,
                            wrist[1] * scaleY + 20 + index * 20
                        );
                    });
                }
            }

            function drawPoints() {
                ctx.strokeStyle = "#FF0000"; // Red for left hand drawn lines
                ctx.lineWidth = 2;
                drawnPoints.Left.forEach((stroke) => {
                    if (stroke.length < 2) return;
                    ctx.beginPath();
                    ctx.moveTo(stroke[0].x, stroke[0].y);
                    for (let i = 1; i < stroke.length - 1; i++) {
                        const cp = {
                            x: (stroke[i].x + stroke[i + 1].x) / 2,
                            y: (stroke[i].y + stroke[i + 1].y) / 2,
                        };
                        ctx.quadraticCurveTo(
                            stroke[i].x,
                            stroke[i].y,
                            cp.x,
                            cp.y
                        );
                    }
                    ctx.quadraticCurveTo(
                        stroke[stroke.length - 1].x,
                        stroke[stroke.length - 1].y,
                        stroke[stroke.length - 1].x,
                        stroke[stroke.length - 1].y
                    );
                    ctx.stroke();
                });

                ctx.strokeStyle = "#00FF00"; // Green for right hand drawn lines
                ctx.lineWidth = 2;
                drawnPoints.Right.forEach((stroke) => {
                    if (stroke.length < 2) return;
                    ctx.beginPath();
                    ctx.moveTo(stroke[0].x, stroke[0].y);
                    for (let i = 1; i < stroke.length - 1; i++) {
                        const cp = {
                            x: (stroke[i].x + stroke[i + 1].x) / 2,
                            y: (stroke[i].y + stroke[i + 1].y) / 2,
                        };
                        ctx.quadraticCurveTo(
                            stroke[i].x,
                            stroke[i].y,
                            cp.x,
                            cp.y
                        );
                    }
                    ctx.quadraticCurveTo(
                        stroke[stroke.length - 1].x,
                        stroke[stroke.length - 1].y,
                        stroke[stroke.length - 1].x,
                        stroke[stroke.length - 1].y
                    );
                    ctx.stroke();
                });
            }

            // Update the message handler
            ws.onmessage = (event) => {
                const data = JSON.parse(event.data);
                ctx.clearRect(0, 0, canvas.width, canvas.height); // Clear canvas before drawing
                ctx.save();
                ctx.scale(-1, 1); // Reflect the canvas horizontally
                ctx.drawImage(
                    video,
                    -canvas.width,
                    0,
                    canvas.width,
                    canvas.height
                );
                ctx.restore();

                if (data.hands.length > 0) {
                    currentHandsData = data.hands; // Store current hands data
                    data.hands.forEach((hand) => {
                        drawHand(
                            hand,
                            data.image_size.width,
                            data.image_size.height
                        );
                    });
                }

                // Draw previously drawn points
                drawPoints();
            };

            // Handle window resize
            window.addEventListener("resize", resizeCanvas);
            resizeCanvas(); // Initial resize

            // Stream webcam data to the backend
            navigator.mediaDevices
                .getUserMedia({ video: true })
                .then((stream) => {
                    video.srcObject = stream;
                    video.onloadedmetadata = () => {
                        video.play();
                        const sendFrame = () => {
                            const offscreenCanvas =
                                document.createElement("canvas");
                            offscreenCanvas.width = video.videoWidth;
                            offscreenCanvas.height = video.videoHeight;
                            const offscreenCtx =
                                offscreenCanvas.getContext("2d");
                            offscreenCtx.scale(-1, 1); // Reflect the video feed horizontally
                            offscreenCtx.drawImage(
                                video,
                                -offscreenCanvas.width,
                                0,
                                offscreenCanvas.width,
                                offscreenCanvas.height
                            );
                            ws.send(offscreenCanvas.toDataURL("image/webp", 1)); // Use WebP format with 75% quality
                            setTimeout(sendFrame, 33); // Aim for ~30 FPS
                        };
                        sendFrame();
                    };
                });

            function saveHandSymbol(handedness) {
                const name = document.getElementById(
                    handedness === "Left" ? "leftHandName" : "rightHandName"
                ).value;
                if (!name) {
                    alert("Please enter a name for the hand symbol.");
                    return;
                }

                // Find the hand data for the specified handedness
                const handData = currentHandsData.find(
                    (hand) => hand.handedness === handedness
                );
                if (!handData) {
                    alert(`No ${handedness} hand detected.`);
                    return;
                }

                // Send the hand data to the server
                fetch("/save_handsymbol", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name: name,
                        handedness: handedness,
                        landmarks: handData.landmarks,
                    }),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.status === "success") {
                            alert(
                                `${handedness} hand symbol saved successfully.`
                            );
                        } else {
                            alert(`Failed to save ${handedness} hand symbol.`);
                        }
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                        alert(`Failed to save ${handedness} hand symbol.`);
                    });
            }
        </script>
    </body>
</html>
