.button-column {
    position: absolute;
    top: 0;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    z-index: 20;
}

.button {
    height: 75px;
    width: 200px;
    transition: 50ms ease-out;
}

.button:hover {
    transform: scale(1.1);
}

/* Ensure buttons also display hover effect when simulated by custom cursors */
.button.simulated-hover {
    transform: scale(1.1);
}

.button-column.left {
    left: 25px;
}

.button-column.right {
    right: 25px;
}
