.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffeb3b;
    pointer-events: none;
    z-index: 100;
    transform: translate(-50%, -50%); /* Center the cursor on the point */
}

.cursor-progress {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: -15px;
}

.cursor-status {
    width: fit-content;
    position: absolute;
    transform: translate(-50%, 5px);
    text-align: center;
    left: 50%;
}

.cursor-menu {
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
