#controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 10;
    padding: 0 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.control-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 175px;
}
